<template name="TestInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> TestInsertTestInsert}}
		<div class="modal crud-insert-form-container" id="field-new-field-insert-form" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						{{> TestInsertFieldNewFieldInsertFormContainerFieldNewFieldInsertForm}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="TestInsertTestInsert">
	<div id="test-insert-test-insert" class="">
		<h2 id="component-title">
			new test
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="id">
					int
				</label>
				<div class="input-div">
					<input type="text" name="id" value="" class="form-control " autofocus="autofocus" data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-string">
				<label for="string">
					str
				</label>
				<div class="input-div">
					<input type="text" name="string" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-question-id">
				<label for="questionId">
					Question
				</label>
				<div class="input-div">
					<select multiple="multiple" class="form-control " name="questionId" data-type="array" required="required">
						{{#each messages}}
						<option value="{{_id}}">							{{bot_msg}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-testid">
				<label for="testid">
					Test
				</label>
				<div class="input-div">
					<select multiple="multiple" class="form-control " name="testid" data-type="object">
						{{#each tests}}
						<option value="{{_id}}">							{{id}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-new-field">
				<label for="newField">
					crud
				</label>
				<div class="input-div">
					<table class="table table-striped">
						<thead>
							<tr class="crud-table-controls">
								<td colspan="0">
									<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#field-new-field-insert-form">
										<span class="fa fa-plus">
										</span>
										Add
									</button>
								</td>
							</tr>
							{{#if newFieldCrudItems}}
							<tr class="crud-table-header">
								<th>
									&nbsp;
								</th>
							</tr>
							{{/if}}
						</thead>
						<tbody>
							{{#each newFieldCrudItems}}
							<tr class="crud-table-row">
								<td class="td-icon delete-icon">
									<span class="fa fa-trash-o" title="Delete">
									</span>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

<template name="TestInsertFieldNewFieldInsertFormContainerFieldNewFieldInsertForm">
	<div id="test-insert-field-new-field-insert-form-container-field-new-field-insert-form" class="">
		<h2 id="component-title">
			Insert
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

