<template name="TestInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> TestInsertTestInsert}}
	</div>
</template>

<template name="TestInsertTestInsert">
	<div id="test-insert-test-insert" class="">
		<h2 id="component-title">
			new test
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="id">
					int
				</label>
				<div class="input-div">
					<input type="text" name="id" value="" class="form-control " autofocus="autofocus" data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-string">
				<label for="string">
					str
				</label>
				<div class="input-div">
					<input type="text" name="string" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-question-id">
				<label for="questionId">
					Question
				</label>
				<div class="input-div">
					<select multiple="multiple" class="form-control " name="questionId" data-type="array" required="required">
						{{#each messages}}
						<option value="{{_id}}">							{{bot_msg}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-testid">
				<label for="testid">
					Test
				</label>
				<div class="input-div">
					<select class="form-control " name="testid" data-type="string" required="required">
						{{#each tests}}
						<option value="{{_id}}">							{{id}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

