<template name="BotEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> BotEditEditForm}}
	</div>
</template>

<template name="BotEditEditForm">
	<div id="bot-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="Id">
					Id
				</label>
				<div class="input-div">
					<input type="text" name="Id" value="{{message_details.Id}}" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-bot_msg">
				<label for="bot_msg">
					message
				</label>
				<div class="input-div">
					<input type="text" name="bot_msg" value="{{message_details.bot_msg}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-answer_type">
				<label for="answer_type">
					answer_type
				</label>
				<div class="input-div">
					<select class="form-control " name="answer_type" data-type="string">
						<option value="integer" {{optionIsSelected message_details.answer_type "integer"}}>							integer</option>
						<option value="string" {{optionIsSelected message_details.answer_type "string"}}>							string</option>
						<option value="select" {{optionIsSelected message_details.answer_type "select"}}>							select</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-answer_var">
				<label for="answer_var">
					answer_var
				</label>
				<div class="input-div">
					<select multiple="multiple" data-role="tagsinput" class="form-control " name="answer_var" data-type="array">
						{{#each getArray message_details.answer_var}}
						<option id="form-input-tags-item" value="{{this}}">							{{this}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-next_question">
				<label for="next_question">
					next_question
				</label>
				<div class="input-div">
					<select multiple="multiple" class="form-control " name="next_question" data-type="array">
						{{#each messages}}
						<option value="{{}}" {{optionIsSelected ../message_details.next_question }}>							{{}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-first_question">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{message_details.first_question}}" name="first_question" data-type="bool" {{itemIsChecked message_details.first_question true}}>
							first_question
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

