<template name="TestDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> TestDetailsDetailsTest}}
	</div>
</template>

<template name="TestDetailsDetailsTest">
	<div id="test-details-details-test" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="id" class="col-sm-3 control-label">
					int
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-id">
						{{test_details.id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-string">
				<label for="string" class="col-sm-3 control-label">
					str
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-string">
						{{test_details.string}}
					</p>
				</div>
			</div>
			<div class="form-group  field-question-id">
				<label for="question.Id" class="col-sm-3 control-label">
					Question
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-question-id">
						{{test_details.question.Id}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

